body {
  margin: 0;

  font-family: 'Open Sans', "Gilroy", "Arial" sans-serif;
}

  @font-face {
      font-family: 'gilroylight';
      src: url('gilroylight-webfont.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  @font-face {
      font-family: 'gilroyextrabold';
      src: url('gilroyextrabold-webfont.woff2') format('woff2');
      font-weight: normal;
      font-style: normal;
  }

  .centred {
    width: 1440px;
    margin: 0 auto;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
/* =================================== Шапка на главной===================================*/

.index-heder {
   box-sizing: border-box;

  width: 1160px;

  padding-left: 60px;
  padding-right: 60px;

  margin: 0 auto;
  margin-top: 40px;


  position: relative;

  background-color: #F0C52E;

  list-style: none;
}

.logo-device {
  position: absolute;

  left: 60px;
  top: -18px;
}

.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
}

/* ================================стили для навигации=============================== */



.navigation-user,
.navig-servise,
.catalog-list {
  display: flex;

  list-style: none;
  margin: 0;
}

.navigation-user {
  padding-top: 42px;

  font-family: "OpenSans-Light";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  line-height: 30px;
}

.navig-servise {
  padding-top: 40px;
  padding-bottom: 163px;

  font-family: "Gilroy-ExtraBold";
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.6px;
  line-height: 24px;
}

.catalog-list {


  font-family: "OpenSans-Light";
  font-size: 15px;
  color: #000000;
  letter-spacing: 0.15px;
  line-height: 36px;
}
