body {
  margin: 0;

  font-family: "Open Sans", Arial, sans-serif;
}

@font-face {
  font-family: "gilroyextrabold";
  src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'gilroylight';
  src: url("../fonts/gilroylight-webfont.woff2") format('woff2');
  font-weight: normal;
  font-style: normal;
}

/* .centred {
  width: 1440px;
  margin: 0 auto;
  box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
} */

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0, 0, 0, 0);
  overflow: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}
/* =================================== Шапка на главной===================================*/
.index-heder: {
  width: 100%;
}

.site-navigation {

  width: 1040px;

  padding-left: 60px;
  padding-right: 60px;

  margin: 0 auto;
  margin-top: 40px;

  position: relative;

  background-color: rgba(240, 197, 46, 0.5);

  list-style: none;
}

.logo-device {
  position: absolute;

  left: 60px;
  top: -18px;
}

/* .logo-device:hover {
opacity: 0.6;
}

.logo-device:active {
opacity: 0.3;
} */

/* ================================стили для навигации=============================== */



.user-navigation,
.catalog-list,
.delivery-guaranty {
  display: flex;

  list-style: none;
  padding: 0;
}


.delivery-guaranty {
  justify-content: flex-end;
}

.site-navigation a {
  color: #000000;
}

.user-navigation {
  padding-top: 42px;
  padding-bottom: 23px;

  font-family: "OpenSans", Arial, sans-serif;
  font-size: 15px;
  font-weight: 300;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  line-height: 30px;

  justify-content: flex-start;
}


.user-navigation a:hover {
  opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.search {
  width: 520px;
  margin-right: 20px;
}

.search input {
  padding: 0;
  background-color: transparent;
  border-width: 0;
  padding-left: 20px;

  opacity: 0.3;
}

.user-login-logout {
  padding: 0;
  margin-right: 20px;
  width: 260px;
  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.user-login {
  width: 180px;
}

.user-login span {
  /* width: 180px; */
  padding-left: 10px;
}

.user-logout {
  opacity: 0.3;
}

.user-compare-cart {
  padding: 0;

  width: 220px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

/* .user-compare,
.user-cart {
padding: 0;
width: 100px;
} */

.user-compare {
  padding-left: 7px;
}

.user-compare span {
  padding-left: 7px;
}

.user-cart span {
  padding-left: 11px;
}

/* ========================= каталог товаров ===== доставка и т.д.================== */

.navig-servise {
  padding: 0;
  padding-bottom: 162px;

  /* для внутренней
  padding-bottom: 49px; */

  font-family: "gilroyextrabold";
  font-size: 18px;
  text-transform: uppercase;

  /* color: #000000; */
  letter-spacing: 3.6px;
  line-height: 24px;

  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.navig-servise a:hover {
  opacity: 0.6;
}

.navig-servise a:active {
  opacity: 0.3;
}

.catalog {
  width: 540px;
  position: relative;
}

.catalog img {
  padding-left: 14px;
  opacity: 0.3;
}

.catalog-list {
  font-family: "OpenSans-Light", Arial, sans-serif;;
  font-size: 15px;
  /* color: #000000; */
  letter-spacing: 0.15px;
  line-height: 36px;

  padding: 0;
  display: none;
}

.delivery,
.guaranty {
  margin-right: 34px;
}

.contacts {
  margin-left: auto;
}

/* ====================================== шапка закончилась ====================================== */

.site-container {
  width: 1160px;
  padding: 0px 20px;
  margin: 0 auto;
}

/* ====================================== слайдер ====================================== */

.slider {
  font-family: gilroyextrabold, Arial, sans-serif;
  width: 1060px;
  min-height: 504px;
  margin: 0 auto;

  /* padding: 0 50px 99px; */
  padding-bottom: 102px;
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
}

/* ============================== на время прячем слайды ============================== */
/* .slide-item {
display: none;
} */

/* ============================== на время прячем слайды ============================== */


.slide-item {
  position: relative;
  margin-top:-140px;
  display: none;
}

.wrapper-slide {
  display: flex;
}


.wrapper-photo {
  width: 50%;
  padding-left: 47px;
  padding-top: 14px;

  min-height: 486px;
}


.wrapper-text {
  width: 50%;

  /* display: flex;
  flex-direction: column; */

  right: 0;
  top: 0;

  box-sizing: border-box;
}

.wrapper-number {
  display: flex;
  justify-content: space-between;
}

.wrapper-number::before {
  content: "";

  width: 100px;
  height: 7px;
  background-color: red;

  margin-top: 46px;

}

.slide-number {
  margin: 0;

  font-size: 179px;
  line-height: 180px;

  color: red;
}

.slide-slogan {
  margin: 0;
  margin-top: -86px;
  font-size: 47px;
  line-height: 56px;
  padding-bottom: 18px;
}

.slide-description {
  margin: 0;
  font-family: OpenSans-Light, Arial, sans-serif;
  font-size: 15px;
  color: #464646;
  line-height: 30px;

  padding-bottom: 44px;
  padding-right: 25px;
}
/* ==================================кнопка подробнее на слайдере=============================== */
.slide-button {
  position: relative;
  padding-bottom: 90px;
  padding-left: 4px;
}


.slide-button a::before {
  content: "Подробнее";

  background-image: linear-gradient(
  180deg,
  transparent 16px,
  #F0C52E 16px,
  #F0C52E 24px,
  transparent 24px,
  transparent 40px);

  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;

  padding-left: 42px;
  padding-right: 42px;

  position: absolute;
}

.slide-button a:hover::before {
  background-color: #F0C52E;
}

.slide-button a:active::before {
  color: rgba(0, 0, 0, 0.3);
}



  /* ==================================кнопка подробнее на слайдере=============================== */


.specs {
  display: flex;
  flex-wrap: wrap;
}

.slide-specs,
.slide-specs-character {
  margin: 0;

}

.slide-specs {
  font-family: gilroylight, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 8px;
  margin-right: 79px;
}

.slide-specs:last-child {
  margin-right: 0;
}

.slide-specs-param {
  padding-bottom: 9px;
}

.slide-specs-character {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
}

  /* ================================== переключатель ================================== */

.slider-control {
  list-style: none;
  position: absolute;

  bottom: 250px;
  right: 26px;

  z-index: 5;
}

.slider-control label {
  display: inline-block;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1.043A4.962 4.962 0 0 1 10.957 6 4.962 4.962 0 0 1 6 10.957 4.962 4.962 0 0 1 1.043 6 4.962 4.962 0 0 1 6 1.043zM6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");

  margin-left: 17px;

  cursor: pointer;
}

.slider-control label:hover {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M6 1.043A4.962 4.962 0 0 1 10.957 6 4.962 4.962 0 0 1 6 10.957 4.962 4.962 0 0 1 1.043 6 4.962 4.962 0 0 1 6 1.043zM6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0z'/%3E%3Cpath d='M6 4.719c.707.001 1.28.574 1.281 1.281A1.283 1.283 0 0 1 6 7.281 1.283 1.283 0 0 1 4.719 6 1.283 1.283 0 0 1 6 4.719zm0-1.027a2.308 2.308 0 1 0 0 4.616 2.308 2.308 0 0 0 0-4.616z'/%3E%3C/g%3E%3C/svg%3E");
  opacity: 0.6;
}



#product-one:checked ~ .slider-control label[for product-one] {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M6 1.043A4.962 4.962 0 0 1 10.957 6 4.962 4.962 0 0 1 6 10.957 4.962 4.962 0 0 1 1.043 6 4.962 4.962 0 0 1 6 1.043zM6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0z'/%3E%3Cpath d='M6 4.719c.707.001 1.28.574 1.281 1.281A1.283 1.283 0 0 1 6 7.281 1.283 1.283 0 0 1 4.719 6 1.283 1.283 0 0 1 6 4.719zm0-1.027a2.308 2.308 0 1 0 0 4.616 2.308 2.308 0 0 0 0-4.616z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: red;
}



#product-one:checked ~ .slider-list #one,
#product-two:checked ~ .slider-list #two,
#product-three:checked ~ .slider-list #three {
  display: block;
}

/* #product-one:checked ~ .slider label[for product-one],
#product-two:checked ~ .slider label[for product-two],
#product-three:checked ~ .slider label[for product-three] {

} */



  /* ============================== популяные товары ============================== */

.popular-listing {
  width: 1160px;
  margin: 0 auto;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 130px;
}

.popular-goods {
  width: 160px;
  flex-shrink: 1;
}

.popular-goods:nth-child(2) .wrapper-img {
  padding-top: 44px;
}


.image-icon {
  height: 160px;
  background-color: rgba(240, 197, 46, 0.5);
  display: flex;
  margin-bottom: 33px;
}

.goods-link:hover .image-icon {
  background-color: #F0C52E;
}

.goods-link:active .wrapper-img,
.goods-link:active .category {
  opacity: 0.3;
}

.goods-link:active .image-icon {
  background-color: #F0C52E;
}


.wrapper-img {
  margin: auto;
}


.popular-goods a{
  margin: 0;
}

a .category {
  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}


/* ================================= слайдер доставка =================================  */

.servise-index {
  font-family: gilroyextrabold, Arial, sans-serif;
  background-image: linear-gradient(
    180deg,
    #ffffff 33px,
    #E5E5E5 33px);
}

.servise {
  width: 1160px;
  display: flex;
  margin: 0 auto;
  justify-content: flex-start;
}


.main-servise {
  padding-bottom: 127px;
  position: relative;
}

.radio-label-wrapper {
  width: 278px;

  display: flex;
  flex-direction: column;
  position: relative;

  padding-top: 13px;
  }


.radio-label-wrapper::after {
  content: "";

  height: 319px;
  width: 7px;
  background-color: #000000;
  position: absolute;

  top: -67px;
  right: -125px;

}


.wrapper-servise-part {
  display: none;
}

#radio-delivery:checked ~ .main-servise .wrapper-servise-part#part-delivery,
#radio-warranty:checked ~ .main-servise .wrapper-servise-part#part-warranty,
#radio-credit:checked ~ .main-servise .wrapper-servise-part#part-credit {
  display: block;
}
/* .wrapper-servise-part:first-child {
  display: block;
} */



 .servise-part {
   display: flex;
   justify-content: flex-start;

 }

 .wrapper-delivery {
   width: 460px;
   margin-left: 240px;
 }

 .wrapper-delivery h3 {
   font-size: 47px;
   margin: 0;
   padding-top: 5px;
   padding-bottom: 11px;
 }

 .wrapper-delivery p {
   font-family: OpenSans, Arial, sans-serif;
   font-weight: 300;
   font-size: 15px;
   line-height: 30px;
   color: #464646;

   width: 500px;
 }

 .icon-servise {
   width: 172px;
   height: 194px;
   margin-left: 124px;
 }

 .icon-servise img {
   margin-left: -28px;
   padding-top: 17px;
 }




/* ================================= радиокнопки доставка старт =================================  */


.servise-radio-button {
  min-width: 160px;
  margin-bottom: 25px;

  background-image: linear-gradient(
  180deg,
   transparent 16px,
  #F0C52E 16px,
  #F0C52E 24px,
  transparent 24px);

  text-align: center;

  cursor: pointer;
}

.servise-radio-button:hover {
  background-color: #F0C52E;
}

.servise-radio-button:checked ~ label {
  width: 278px;
  background-color: #000000;
  color: #ffffff;
}



.servise-radio-button label {
  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;

  padding-left: 3px;

  cursor: pointer;
}




/* ================================= радиокнопки доставка финиш =================================  */

#part-delivery::before {
  content: "Доставка";

  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  line-height: 40px;
  padding-left: 20px;

  background-color: #000000;
  width: 268px;

  position: absolute;
  top: 13px;
  left: -163px;

  cursor: pointer;
}

#part-warranty::before {
  content: "Гарантия";
  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  line-height: 40px;
  padding-left: 26px;

  background-color: #000000;
  width: 261px;

  position: absolute;
  top: 73px;
  left: -163px;

  cursor: pointer;

}

#part-credit::before {
  content: "Кредит";
  font-family: gilroyextrabold, Arial, sans-serif;
  font-size: 18px;
  color: #ffffff;
  letter-spacing: 3.5px;
  text-transform: uppercase;

  line-height: 40px;
  padding-left: 39px;

  background-color: #000000;
  width: 247px;

  position: absolute;
  top: 143px;
  left: -163px;

  cursor: pointer;

}
