  body {
    margin: 0;

    font-family: "Open Sans", Arial, sans-serif;
  }

  @font-face {
    font-family: "gilroyextrabold";
    src: url("fonts/gilroyextrabold-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'gilroylight';
    src: url('fonts/gilroylight-webfont.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .centred {
    width: 1440px;
    margin: 0 auto;
    /* box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2); */
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
/* =================================== Шапка на главной===================================*/

.index-heder {

  width: 1040px;

  padding-left: 60px;
  padding-right: 60px;

  margin: 0 auto;
  margin-top: 40px;

  position: relative;

  background-color: #F0C52E;

  list-style: none;
}

.logo-device {
  position: absolute;

  left: 60px;
  top: -18px;
}

.logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
}

/* ================================стили для навигации=============================== */



.user-navigation,
.navig-servise,
.catalog-list {
  display: flex;

  list-style: none;
  padding: 0;
}

.site-navigation a {
  color: #000000;
}

.user-navigation {
  padding-top: 42px;

  font-family: "OpenSans-Light";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  line-height: 30px;

  /* justify-content: space-between; */
}

.navig-servise {
  padding-top: 40px;
  padding-bottom: 163px;

  font-family: "gilroyextrabold";
  font-size: 18px;
  /* color: #000000; */
  letter-spacing: 3.6px;
  line-height: 24px;
}

.catalog-list {
  font-family: "OpenSans-Light";
  font-size: 15px;
  /* color: #000000; */
  letter-spacing: 0.15px;
  line-height: 36px;

  padding: 0;
}

.user-navigation li {
  text-align: left;
  vertical-align: middle;
}

.search {
  width: 540px;
}

.search input {
  padding: 0;
  background-color: #F0C52E;
  border-width: 0;
  padding-left: 20px;

  opacity: 0.3;
}

.user-login{
  width: 260px;
}

.user-login span {
  padding-left: 14px;
}

.user-logout {
  padding-left: 20px;
  opacity: 0.3;
}

.user-compare,
.user-cart {
  width: 100px;
}

.user-compare span,
.user-cart span {
  padding-left: 11px;
}
