  body {
    margin: 0;

    font-family: "Open Sans", Arial, sans-serif;
  }

  @font-face {
    font-family: "gilroyextrabold";
    src: url("../fonts/gilroyextrabold-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  @font-face {
    font-family: 'gilroylight';
    src: url("../fonts/gilroylight-webfont.woff2") format('woff2');
    font-weight: normal;
    font-style: normal;
  }

  .centred {
    width: 1440px;
    margin: 0 auto;
    /* box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2); */
  }

  .visually-hidden:not(:focus):not(:active),
  input[type="checkbox"].visually-hidden,
  input[type="radio"].visually-hidden {
    position: absolute;

    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;

    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

  img {
    max-width: 100%;
    height: auto;
  }

  a {
    text-decoration: none;
  }
/* =================================== Шапка на главной===================================*/

.index-heder {

  width: 1040px;

  padding-left: 60px;
  padding-right: 60px;

  margin: 0 auto;
  margin-top: 40px;

  position: relative;

  background-color: #F0C52E;

  list-style: none;
}

.logo-device {
  position: absolute;

  left: 60px;
  top: -18px;
}

/* .logo-device:hover {
  opacity: 0.6;
}

.logo-device:active {
  opacity: 0.3;
} */

/* ================================стили для навигации=============================== */



.user-navigation,
.catalog-list,
.delivery-guaranty {
  display: flex;

  list-style: none;
  padding: 0;
}


.delivery-guaranty {
  justify-content: flex-end;
}

.site-navigation a {
  color: #000000;
}

.user-navigation {
  padding-top: 42px;
  padding-bottom: 23px;

  font-family: "OpenSans-Light";
  font-size: 15px;
  color: rgba(0, 0, 0, 0.3);
  letter-spacing: 0.15px;
  line-height: 30px;

  justify-content: flex-start;
}


.user-navigation a:hover {
opacity: 0.6;
}

.user-navigation a:active {
  opacity: 0.3;
}

.search {
  width: 520px;
  margin-right: 20px;
}

.search input {
  padding: 0;
  background-color: #F0C52E;
  border-width: 0;
  padding-left: 20px;

  opacity: 0.3;
}

.user-login-logout {
  padding: 0;
  margin-right: 20px;
  width: 260px;
  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.user-login {
  width: 180px;
}

.user-login span {
  /* width: 180px; */
  padding-left: 10px;
}

.user-logout {
  opacity: 0.3;
}

.user-compare-cart {
  padding: 0;

  width: 220px;
  display: flex;
  justify-content: space-between;

  list-style: none;
}

/* .user-compare,
.user-cart {
  padding: 0;
  width: 100px;
} */

.user-compare {
  padding-left: 7px;
}

.user-compare span {
  padding-left: 7px;
}

.user-cart span {
  padding-left: 11px;
}

/* ========================= каталог товаров ===== доставка и т.д.================== */

.navig-servise {
  padding: 0;
padding-bottom: 162px;

  /* для внутренней
  padding-bottom: 49px; */

  font-family: "gilroyextrabold";
  font-size: 18px;
  text-transform: uppercase;

  /* color: #000000; */
  letter-spacing: 3.6px;
  line-height: 24px;

  display: flex;
  justify-content: flex-start;

  list-style: none;
}

.navig-servise a:hover {
  opacity: 0.6;
}

.navig-servise a:active {
  opacity: 0.3;
}

.catalog {
  width: 540px;
  position: relative;
}

.catalog img {
  padding-left: 14px;
  opacity: 0.3;
}

.catalog-list {
  font-family: "OpenSans-Light", Arial, sans-serif;;
  font-size: 15px;
  /* color: #000000; */
  letter-spacing: 0.15px;
  line-height: 36px;

  padding: 0;
  display: none;
}

.delivery,
.guaranty {
  margin-right: 34px;
}

.contacts {
  margin-left: auto;
}

/* ====================================== шапка закончилась ====================================== */

.site-container {
  width: 1040px;
  padding-left: 60px;
  padding-right: 60px;
  margin: 0 auto;

}

/* ====================================== слайдер ====================================== */

.slider {
  font-family: gilroyextrabold, Arial, sans-serif;
  position: relative;
}

.slider-list {
  margin: 0;
  padding: 0;
}


/* ==================скроем на время ========================= */

.slide-item {
  display: none;
}

/* ==================скроем на время ========================= */

.slide-item {
  position: relative;
  margin-top:-140px;
}
.wrapper-foto {
  width: 50%;
  padding-left: 30px;
  padding-right: 20px;
  padding-top: 14px;

  min-height: 486px;
}


.wrapper-text {
  width: 50%;

  display: flex;
  flex-direction: column;

  position: absolute;
  right: 0;
  top: 0;

  box-sizing: border-box;
  padding-left: 20px;
}

.wrapper-number {
  display: flex;
  justify-content: space-between;
}

.wrapper-number::before {
  content: "";

  width: 100px;
  height: 7px;
  background-color: red;

  margin-top: 46px;

}

.slide-number {
  margin: 0;

  font-size: 179.2px;
  line-height: 179.2px;

  color: red;
}

.slide-slogan {
  margin: 0;
  margin-top: -86px;
  font-size: 47px;
  line-height: 56px;
  padding-bottom: 15px;

}

.slide-description {
  margin: 0;
  font-family: OpenSans-Light, Arial, sans-serif;
  font-size: 15px;
  color: #464646;
  line-height: 30px;

  padding-bottom: 42px;
  padding-right: 25px;
}
/* ==================================кнопка подробнее на слайдере=============================== */
.slide-button {
  position: relative;
  padding-bottom: 90px;
}


.slide-button a::before {
  content: "Подробнее";

  background-image: linear-gradient(
    180deg,
    transparent 16px,
    #F0C52E 16px,
    #F0C52E 24px,
    transparent 24px,
    transparent 40px);

  font-family: Gilroy-ExtraBold;
  font-size: 18px;
  color: #000000;
  letter-spacing: 3.5px;
  text-align: center;
  text-transform: uppercase;
  line-height: 40px;

  padding-left: 42px;
  padding-right: 42px;

  position: absolute;
}

/* ==================================кнопка подробнее на слайдере=============================== */


.specs {
  display: flex;
  flex-wrap: wrap;
}

.slide-specs,
.slide-specs-character {
  margin: 0;

}

.slide-specs {
  font-family: gilroylight, Arial, sans-serif;
  font-size: 36px;
  line-height: 48px;
  padding-bottom: 8px;
  margin-right: 79px;
}

.slide-specs:last-child {
  margin-right: 0;
}

.slide-specs-param {
  padding-bottom: 9px;
}

.slide-specs-character {
  font-family: OpenSans-Light, Arial, sans-serif;
  font-size: 13px;
  color: #464646;
  line-height: 20px;
}

/* ================================== переключатель ================================== */

.slider-control {
  position: absolute;

  bottom: 149px;
  right: 22px;

  z-index: 5;
}

.slider-control label {
  display: inline-block;

  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6 1.043A4.962 4.962 0 0 1 10.957 6 4.962 4.962 0 0 1 6 10.957 4.962 4.962 0 0 1 1.043 6 4.962 4.962 0 0 1 6 1.043zM6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0z' fill='%23000' fill-rule='nonzero'/%3E%3C/svg%3E");

  margin-left: 17px;

  cursor: pointer;
}

#product-one:checked ~ .slider-control label:checked {
  background-image: url("data:image/svg+xml,%3Csvg width='12' height='12' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%23000' fill-rule='nonzero'%3E%3Cpath d='M6 1.043A4.962 4.962 0 0 1 10.957 6 4.962 4.962 0 0 1 6 10.957 4.962 4.962 0 0 1 1.043 6 4.962 4.962 0 0 1 6 1.043zM6 0a6 6 0 1 0 0 12A6 6 0 0 0 6 0z'/%3E%3Cpath d='M6 4.719c.707.001 1.28.574 1.281 1.281A1.283 1.283 0 0 1 6 7.281 1.283 1.283 0 0 1 4.719 6 1.283 1.283 0 0 1 6 4.719zm0-1.027a2.308 2.308 0 1 0 0 4.616 2.308 2.308 0 0 0 0-4.616z'/%3E%3C/g%3E%3C/svg%3E");
  background-color: red;
}




#product-one:checked ~ .slider-list #one,
#product-two:checked ~ .slider-list #two,
#product-three:checked ~ .slider-list #three {
  display: block;
}

#product-one:checked ~ .slider label[for product-one],
#product-two:checked ~ .slider label[for product-two],
#product-three:checked ~ .slider label[for product-three] {
}
